*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-weight: inherit;
    line-height: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: $color-light-grey;
    font-weight: normal;
    line-height: 1.7;
}

img {
    max-width: 100%;
}

#dock {
    position: fixed;
    padding: 15px;
    background-color: rgba(0, 0, 0, .8);
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-size: 14px;
}