@mixin clear-float {
    &::after {
        content: ' ';
        display: table;
        clear:both;
    }
}

@mixin max-width-query($breakpoint){
    @media (max-width: (($breakpoint / $default-browser-font-size) * 1em)) { @content };
}
    
@mixin min-width-query($breakpoint){
    @media (min-width: (($breakpoint / $default-browser-font-size) * 1em)) { @content }
}