$default-browser-font-percentage: 62.5%;
$default-browser-font-size: 16px;
$font-weight-heavy: 900;

$color-white: #fff;
$color-light-grey: #eee;
$color-dark-grey: #3e3e3e;

$box-shadow: 2px 2px 15px -6px $color-dark-grey;
$box-shadow-press: 2px 2px 0 -6px $color-dark-grey;
