.message {
    padding: 1.5rem;
    margin-bottom: .8rem;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: $box-shadow;
    overflow: hidden;
    opacity: 1;

    cursor: -webkit-grab;
    transition: all .3s ease-out;

    &.u-touched {
        opacity: .5;
        cursor: -webkit-grabbing;
    }

    & > * {
        backface-visibility: hidden;
        user-select: none;
    }
    

    &__header {
        display: flex;
        align-items: center;
    }

    &__author-avatar {
        position: relative;
        width: 15%;
        height: 0;
        padding-top: 15%;
        border-radius: 50%;
        overflow: hidden;

        .message__image {
            position: absolute;
            top:0;
            transform: scale(1.15);
        }
    }

    &__author {
        padding-left: 2rem;
    }

    &__author-name {
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__post-time {
        font-size: 1.2rem;
        margin-top: .5rem;
    }

    &__body {
        padding-top: 1.5rem;
        font-size: 1.4rem;
    }

}